@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Roboto', sans-serif;
}
body {
  padding-top: 50px;
}
.top-nav {
  background-color: black;
  /*Remove height later on if not needed*/
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.landing {
  background-image: url(../images/cup.jpeg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 50px;
  transition: 0.7s;
}

@media (max-width: 1000px) {
  .landing {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .landing {
    background-image: url('../images/cup2.jpeg');
  }
}

.row {
  display: flex;
}

.col-3 {
  width: 100%;
}

@media (max-width: 700px) {
  .row {
    display: block;
  }
}
